<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Fórum Online </ion-title>
    <ion-img
      class="logo"
      src="https://univhelpp.000webhostapp.com/images/logo11.png"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="conteudos">
    <ion-card-header></ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-content>
      <p class="texto">
        ENVIE ARQUIVOS<br />
        Contribua com a comunidade<br />
        e envie documentos em PDF <br />e indicações de videos.
      </p>
      <ion-img
        class="logo"
        src="https://univhelpp.000webhostapp.com/images/pic02.jpg"
      ></ion-img
      ><br />
      <p class="texto">
        BAIXE ARQUIVOS<br />
        Faça download dos arquivos que preferir para estudar onde quiser!
      </p>
      <ion-img
        class="logo"
        src="https://univhelpp.000webhostapp.com/images/pic03.jpg"
      ></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
