<ion-header>
  <ion-toolbar>
    <ion-title> Univ Help App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle
        ><ion-img
          class="logo"
          src="https://univhelpp.000webhostapp.com/images/logo11.png"
        ></ion-img
      ></ion-card-subtitle>
      <ion-card-title class="titulo">UNIV HELP </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card class="conteudos">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="texto">
            VIDEOAULAS<br />
            Diversos temas ,<br />
            estude sempre no seu ritmo
          </p>
          <ion-img
            class="logo"
            src="https://univhelpp.000webhostapp.com/images/pic01.jpg"
          ></ion-img>
          <p class="texto">
            MATERIAIS EM PDF<br />
            Baixe e acesse de qualquer lugar se preferir leia online pelo nosso
            leitor
          </p>
          <br />
          <ion-img
            class="logo"
            src="https://i.ibb.co/wJPzq49/Logomarca-confeitaria.png"
          ></ion-img>
        </ion-card-content>
      </ion-card>
      <p></p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>LINKS UTEIS</ion-label>
    </ion-list-header>
    <ion-item href="https://univhelp.tech/">
      <ion-icon slot="start" color="medium" name="earth-outline"></ion-icon>
      <ion-label>Acesse nosso Site</ion-label>
    </ion-item>
    <ion-item href="https://univhelp.tech/">
      <ion-icon slot="start" color="medium" name="book-outline"></ion-icon>
      <ion-label>Cursos Online</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
